<!-- HTML Template by w3schools, Edited by Joe Williams -->
<!DOCTYPE html>
<html>
<title>Pirate Notes</title>
<meta charset="UTF-8">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="theme-color" content="#ffffff">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-deep-purple.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  html,body,h1,h2,h3,h4,h5 {font-family: "Open Sans", sans-serif}
  .course-list {margin-bottom: 1px}
  hr {border: 1px thin;}
  #footer {clear: both;border: 1px groove #aaaaaa;background: blue;color: White;padding: 0;text-align: center;vertical-align: middle;line-height: normal;margin: 0;position: fixed;bottom: 0px;width: 100%;}
  #post_div {margin-top:0!important;}
</style>
<body class="w3-theme-l5">
{{> navbar }}
<div class="w3-container w3-content" style="max-width:720px;margin-top:80px">  
  <div class="w3-row">
    <div class="w3-col m12">
      <p style="font-size:30px" class="w3-opacity w3-center">Admin/Mod View</p>
      {{#each posts}}
        {{> post_audit }}
      {{else}}
        <p class="w3-opacity w3-margin w3-center">No pending posts</p>
      {{/each}}
    </div>
    </div>
  </div>
</div>
<br>
{{> javascript_audit }}
<div id='footer'>
    <footer class="w3-center w3-container w3-theme-d3 w3-padding-16">
        <h5> Pirate Notes &copy; 2017</h5>
    </footer>
    <footer class="w3-container w3-theme-d5">
        <p>Powered by <a href="http://www.ecu.edu" target="_blank">ecu.edu</a></p>
    </footer>
</div>
<script type="text/javascript" src="/js/piratenotes.js"/>
</body>
</html> 