<!DOCTYPE html>
<html>
<head>
    <title>Pirate Notes</title>
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css' />
    <style>
        body{
            background: linear-gradient( rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0) ),  url('./images/ecu_bg_blur.jpg');
			background-color: rgba(0, 0, 0, 0.342);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position-x:center; 
            background-position-y:center;
        }
        
        h5{
            font-weight: 400;
        }
        .container{
            margin-top: 80px;
            width: 400px;
            height: 600px;
        }
        .tabs .indicator{
            background-color: #e0f2f1;
            height: 60px;
            opacity: 0.3;
        }
        .form-container{
            background-color:rgba(255, 255, 255, 0.107);
            padding: 40px;
        }
        .login .register {
            padding-top: 45px;
        }
        .checkbox {
            margin-bottom:40px;
            padding-top:0;
        }
        .confirmation-tabs-btn{
            position: absolute;
        }
    </style>
</head>
<body>
<div class="container white z-depth-5">
	<ul class="tabs purple">
		<li class="tab col s3"><a class="white-text active" href="#login">login</a></li>
		<li class="tab col s3"><a class="white-text" href="#register">register</a></li>
	</ul>
	<div id="login" class="col s12">
		<form class="col s12" method="post" action="/login">
			<div class="form-container login">
				<h3 style="" class="purple-text center"><img src="/images/ECU_department.jpg" class="left center" style="height:100px;margin-bottom:20px;display:inline-block;vertical-align:middle;">Pirate Notes</h3>
				<div class="row">
					<div class="input-field col s12">
						<input name="email" type="email" class="validate">
						<label for="email">Email</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input name="password" type="password" class="validate">
						<label for="password">Password</label>
					</div>
				</div>
				<br>
				<center>
					<button class="btn waves-effect waves-light purple" type="submit">Login</button>
					<br>
					<br>
					<a href="forgot">Can't remember password?</a>
					<p style='color:red'>{{> flash }}</p>
				</center>
			</div>
		</form>
		{{#if messages}}
			<div class="alert alert-danger">{{messages}}</div>
		{{/if}}
		{{#if messages}}
			<div class="alert alert-danger">{{messages}}</div>
		{{/if}}
	</div>
	<div id="register" class="col s12">
		<form class="col s12"  method="post" action="/register">
			<div class="form-container register">
				<div class="row">
					<div class="input-field col s6">
						<input name="first_name" type="text" class="validate">
						<label for="first_name">First Name</label>
					</div>
					<div class="input-field col s6">
						<input name="last_name" type="text" class="validate">
						<label for="last_name">Last Name</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input name="email" type="email" class="validate">
						<label for="email">Email</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s6">
						<input name="password" type="password" class="validate">
						<label for="password">Password</label>
					</div>
					<div class="input-field col s6">
						<input name="password-confirm" type="password" class="validate">
						<label for="password-confirm">Confirm</label>
					</div>
				</div>
                <div class="row">
					<div class="input-field checkbox col s12">
						<input name="checkbox" type="checkbox" class="validate">
						<label for="checkbox">I agree to the <a href="termsOfServices" target="_blank">Terms Of Services</a></label>
					</div>
				</div>
				<center>
					<button class="btn waves-effect waves-light purple" name="Register" type="submit">Register</button>
				</center>
			</div>
		</form>
	</div>
</div>
</body>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</html>