<!-- Joe Williams -->
<!DOCTYPE html>
<html>
<head>
    <title>Pirate Notes</title>
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css' />
    <style>
        body{
            background: linear-gradient( rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0) ),  url('./images/ecu_bg_blur.jpg');
			background-color: rgba(0, 0, 0, 0.342);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position-x:center; 
            background-position-y:center;
        }
        h1, h2, h3, h4, h5 {
			color: #592A8A;
		}
        h5{
            font-weight: 400;
        }
        .container{
            margin-top: 80px;
            width: 400px;
            height: 600px;
        }
        .tabs .indicator{
            background-color: #e0f2f1;
            height: 60px;
            opacity: 0.3;
        }
        .form-container{
            background-color:rgba(255, 255, 255, 0.107);
            padding: 40px;
        }
        .checkbox {
            margin-bottom:40px;
            padding-top:0;
        }
        .confirmation-tabs-btn{
            position: absolute;
        }
		.hide{
			display:none;
			max-width:0;
			max-height:0;
			right:0;
			left:0;
			top:0;
			bottom:0;
		}
    </style>
</head>
<body>
<div class="container white z-depth-5">
	<ul style="overflow:hidden;" class="tabs purple">
		<li class="tab col s3"><a class="white-text active" href="#login">login</a></li>
		<li class="tab col s3"><a class="white-text" href="#register">register</a></li>
		<li class="tab hide"><a class="hide" href="#newpass"></a></li>
		<li class="tab hide"><a class="hide" href="#thankyou"></a></li>
		<li class="tab hide"><a class="hide" href="#forgotpass"></a></li>
		<li class="tab hide"><a class="hide" href="#verified"></a></li>
	</ul>
	<div id="login" class="col s12">
		<form class="col s12" method="post" action="/login">
			<div class="form-container login">
				<h3 align="center" style="margin:0 0 0 0" class="center">Pirate Notes</h3>
				<img src="/images/ECU_department.jpg" class="center"
					style="height:100px;left:50;margin-bottom:10px;    display: block;
    margin-left: auto;
    margin-right: auto;">
				<div class="row">
					<div style="margin-top:25px" class="input-field col s12">
						<input name="email" type="email" class="validate">
						<label for="email">Email</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input name="password" type="password" class="validate">
						<label for="password">Password</label>
					</div>
				</div>
				<br>
				<center>
					<button class="btn waves-effect waves-light purple" type="submit">Login</button>
					<br>
					<br>
					<a href="/forgotpass">Can't remember password?</a>
					{{> flash }}
				</center>
			</div>
		</form>
	</div>
	<div id="register" class="col s12">
		<form class="col s12"  method="post" action="/register">
			<div style="padding-top:20px" class="form-container register">
				<div class="row">
					<div class="input-field col s6">
						<input name="first_name" type="text" class="validate" required>
						<label for="first_name">First Name</label>
					</div>
					<div class="input-field col s6">
						<input name="last_name" type="text" class="validate" required>
						<label for="last_name">Last Name</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input name="email" type="email" class="validate" required>
						<label for="email">Email</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s6">
						<input name="password" type="password" class="validate" required>
						<label for="password">Password</label>
					</div>
					<div class="input-field col s6">
						<input name="password_confirm" type="password" class="validate" required>
						<label for="password-confirm">Confirm</label>
					</div>
				</div>
				<!--<div class="row">
					<div class="input-field col s6">
						<input id="male" name="gender" type="radio" value="male">
						<label for="gender">Male</label>
					</div>
				</div>-->
                <div class="row">
					<div class="input-field checkbox col s12">
						<input id="tos" name="checkbox" type="checkbox" class="validate" checked required>
						<label for="checkbox">I agree to the <a href="tos" target="_blank">Terms Of Services</a></label>
					</div>
				</div>
				<center>
					<button class="btn waves-effect waves-light purple" name="Register" type="submit">Register</button>
					{{> flash }}
				</center>
			</div>
		</form>
	</div>

	<div id="thankyou" class="col s12">
		<center>
			<p style="height:100px"><h5>Thank you for Registering!</h5></p>
			<br>
			<br>
			<br>
			<p>Please check your email to verify your account!</p>
		</center>
	</div>

	<div id="verified" class="col s12">
		<center>
			<p style="height:100px"><h5>You have verified your account!</h5></p>
			<p>Click <a href="/">here</a> to Log in</p>
		</center>
	</div>

	<div id="forgotpass" class="col s12">
		<div class="form-container register">
			<form class="col s12" method="post" action="/forgot">
				<div class="row">
					<p><h5>Please enter your email</h5></p>
					<div class="input-field col s12">
						<input name="email" type="email" class="validate">
						<label for="email">Email</label>
					</div>
					<br>
					<center>
						<button style="margin-top:15px" class="btn waves-effect waves-light purple" name="Register" type="submit">Find Password</button>
						{{> flash }}
					</center>
				</div>
			</form>
		</div>
	</div>

	<div id="newpass" class="col s12">
		<div class="form-container register">
			<form class="col s12" method="post" action="/forgot">
				<div class="row">
					<p><h5>Please enter your new password</h5></p>
					<div class="input-field col s12">
						<center>
						<input name="password" type="password" class="validate">
						<label for="password">Password</label></center>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input name="passwordConfirm" type="password" class="validate">
						<label for="passwordConfirm">Confirm</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input name="verificationCode" type="password" class="validate">
						<label for="verificationCode">Verification Code</label>
					</div>
				</div>
					<center>
						<button style="margin-top:15px" class="btn waves-effect waves-light purple" name="Register" type="submit">Change Password</button>
						{{> flash }}
					</center>
			</form>
		</div>
	</div>
</div>
</body>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</html>