<!-- HTML Template by w3schools, Edited by Joe Williams -->
<!DOCTYPE html>
<html>
<title>Pirate Notes</title>
<meta charset="UTF-8">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="theme-color" content="#ffffff">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-deep-purple.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  html,body,h1,h2,h3,h4,h5 {font-family: "Open Sans", sans-serif}
  .course-list {margin-bottom: 1px}
  hr {border: 1px thin;}
  #post_div {margin-top:0!important;}
</style>
<body class="w3-theme-l5">
{{> navbar }}
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">  
  <div class="w3-row">
    <div class="w3-col m9" style="margin-left:25px; width:91%;">
      <!-- Profile -->
      <div class="w3-card-2 w3-round w3-white">
        <div class="w3-container">
         <h2 class="w3-center">{{course.course_name}}</h2>
         <p class="w3-center"><img src="/images/ECU_department.jpg"style="height:106px;"></p>
         <hr>
          <div>
            <button class="w3-button w3-right w3-theme-d2" style="margin-bottom:10px">Follow Course</button>
         </div>
        </div>
      </div>
      <br>
    </div>
    <div class="w3-col m3" style="margin-left:20px">
      <div class="w3-card-2 w3-round w3-white w3-hide-small">
        <div class="w3-container">
          <p>Course Information</p>
          <p>
          </p>
        </div>
      </div>
      <br>
      <div class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
        <span onclick="this.parentElement.style.display='none'" class="w3-button w3-theme-l3 w3-display-topright">
          <i class="fa fa-remove"></i>
        </span>
        <p><strong>Hey {{user.firstname}}!</strong></p>
        <p>How would you rate the content in this course?</p>
      </div>
    </div>
    <div class="w3-col m6">
      {{#each posts}}
        {{> post_course }}
      {{else}}
        <p class="w3-opacity w3-margin w3-center">No posts</p>
      {{/each}}
    </div>
    <div class="w3-col m2" style="float:left">
      <div class="w3-card-2 w3-round w3-white w3-center">
        <div class="w3-container">
          <p>Upcoming Events:</p>
          <img src="#" alt="Forest" style="width:100%;">
          <p><strong>Holiday</strong></p>
          <p>Friday 15:00</p>
          <p><button class="w3-button w3-block w3-theme-l4">Info</button></p>
        </div>
      </div>
      <br>
      <div class="w3-card-2 w3-round w3-white w3-center">
        <div class="w3-container">
          <p>Friend Request</p>
          <img src="#" alt="Avatar" style="width:50%"><br>
          <span>Jane Doe</span>
          <div class="w3-row w3-opacity">
            <div class="w3-half">
              <button class="w3-button w3-block w3-green w3-section" title="Accept"><i class="fa fa-check"></i></button>
            </div>
            <div class="w3-half">
              <button class="w3-button w3-block w3-red w3-section" title="Decline"><i class="fa fa-remove"></i></button>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="w3-card-2 w3-round w3-white w3-padding-16 w3-center">
        <p>ADS</p>
      </div>
      <br>
      <div class="w3-card-2 w3-round w3-white w3-padding-32 w3-center">
        <p><i class="fa fa-bug w3-xxlarge"></i></p>
      </div>
    </div>
  </div>
</div>
<br>
<script>
  function gotoUrl(url) {
      if(typeof url != "string") return false;
      window.location.href = url;
  }
</script>
<footer class="w3-center w3-container w3-theme-d3 w3-padding-16">
  <h5> Pirate Notes &copy; 2017</h5>
</footer>
<footer class="w3-container w3-theme-d5">
  <p>Powered by <a href="http://www.ecu.edu" target="_blank">ECU.edu</a></p>
</footer>
<script type="text/javascript" src="/js/piratenotes.js"/>
</body>
</html> 