<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/ListStyle.css">

	<title>Departments</title>
	<h1>PirateNotes</h1>
</head>

<body style="text-align:center">
<img src="Images/ECU_Mall.jpg" alt="ECU Mall">
<h1>Select a department:</h1>

<div class="depts">
	<div class="dept-list">

<ul>

	<li><a href="PN-Harriet.html">Thomas Harriet College of Arts and Sciences</a></li>
	<li><a href="PN-AHS.html">College of Allied Health Sciences</a></li>
	<li><a href="PN-Business.html">College of Business</a></li>
	<li><a href="PN-Education.html">College of Education</a></li>
	<li><a href="PN-Eng&Tech.html">College of Engineering and Technology</a></li>
	<li><a href="PN-Arts&Comm.html">College of Fine Arts & Communications</a></li>
	<li><a href="PN-Health%Perf.html">College of Health and Human Performance</a></li>
	<li><a href="PN-Nursing.html">College of Nursing</a></li>
	<li><a href="PN-Dental.html">School of Dental Medicine</a></li>
	<li><a href="PN-Brody.html">Brody School of Medicine</a></li>
	<li><a href="PN-Honors.html">Honors College</a></li>
	<li><a href="PN-Grad.html">Graduate School</a></li>

</ul>

	</div>
</div>


</body>

</html>