<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/FormStyle.css">
  
  <title>PirateNotes</title>
</head>

<body>
	<h1 style="text-align:center;color:#FFD700;">PirateNotes</h1>
	
	<body style="text-align:center;">
	<img src="Images/Pirate.png" alt="ECU Pirate">
	</body>
	
	<p style="text-align:center;color:#FFD700;">PirateNotes is a platform designed for ECU students to encourage collaboration and note sharing.</p>
  <body>
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h2>Enter your PirateID and Password</h2>
			</div>

			<div class="login-form">
				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="PirateID" id="login-name">
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>

				<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="Password" id="login-pass">
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>

				<a class="btn btn-primary btn-large btn-block" href="PN-Departments.html">Login</a>
				<a class="login-link" href="PN-Registration.html">Or register here</a>
				<a class="login-link" href="PN-ForgotPassword.html">Forgot your password?</a>
			</div>
		</div>
	</div>
</body>
  
  
</body>
</html>
