<!-- HTML Template by w3schools, Edited by Joe Williams -->
<!DOCTYPE html>
<html>
<title>Pirate Notes</title>
<meta charset="UTF-8">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="theme-color" content="#ffffff">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-deep-purple.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    html,body,h1,h2,h3,h4,h5 {font-family: "Open Sans", sans-serif}
    .course-list {margin-bottom: 1px}
    hr{ border: 1px thin;}
    .search-wrapper {display: inline-block;}
    .search-input, .search-button {border:0;background-color: transparent;}
    .search-div {max-height: 50px;  width: 100%;margin: 0 auto;}
    body{background:#555;}
    html{min-height:500px; }
    .search input {width: 370px;padding: 10px 5px;float: left;color: #ccc;border: 0;background: transparent;border-radius: 3px 0 0 3px;}
    .search input:focus {outline: 0;background:transparent;}
    .search button {position: relative;float: right;border: 0;padding: 0;cursor: pointer;height: 40px;width: 120px;color: #fff;background: transparent;border-left: 1px solid #fff;border-radius: 0 3px 3px 0;}   
    #searchbox {width: 100%;box-sizing: border-box;border: 1px solid #ccc;border-radius: 2px;font-size: 16px;background-color: white;background-image: url('images/searchicon.png');background-position: 10px 14px;background-repeat: no-repeat;padding: 12px 20px 12px 40px;-webkit-transition: width 0.4s ease-in-out;transition: width 0.4s ease-in-out;}
    #footer {clear: both;border: 1px groove #aaaaaa;background: blue;color: White;padding: 0;text-align: center;vertical-align: middle;line-height: normal;margin: 0;position: fixed;bottom: 0px;width: 100%;}
    .centerDiv {padding:10px;height:50px;position:absolute;top:25%;}
</style>
<body class="w3-theme-l5">
{{> navbar }}
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">  
  <div class="w3-row">
    <div class="w3-col m10 " style="height:500px;margin-top:50px;width:100%">
      <h3 style="margin-bottom:20px" align="center">Search Courses and Departments</h3>
      <div class="w3-card-2 w3-round w3-white">
        <div class="w3-container" >
          <form id="search-form" class="search" method="post" action="/search">
            <input name="q" style="color:black;margin-top:15px;margin-bottom:15px;"
                id="searchbox" type="text" class="w3-input" placeholder="Search here..." required>
          </form>
        </div>
      </div>
      <br>
    </div>
    </div>
  </div>
</div>
<br>
<div id='footer'>
    <footer class="w3-center w3-container w3-theme-d3 w3-padding-16">
        <h5> Pirate Notes &copy; 2017</h5>
    </footer>
    <footer class="w3-container w3-theme-d5">
        <p>Powered by <a href="http://www.ecu.edu" target="_blank">ecu.edu</a></p>
    </footer>
</div>

<script>
    function gotoUrl(url) {
        if(typeof url != "string") return false;
        window.location.href = url;
    }
    
    function myFunction(id) {
        var x = document.getElementById(id);
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
            x.previousElementSibling.className += " w3-theme-d1";
        } else { 
            x.className = x.className.replace("w3-show", "");
            x.previousElementSibling.className = 
            x.previousElementSibling.className.replace(" w3-theme-d1", "");
        }
    }
    
    function openNav() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else { 
            x.className = x.className.replace(" w3-show", "");
        }
    }
</script>
</body>
</html> 