<div class="w3-container w3-card-2 w3-white w3-round w3-margin"><br>
    <img src="/images/ECU_class.jpg" class="w3-left w3-circle w3-margin-right" style="width:60px;margin-bottom:10px">
    <span class="w3-right w3-opacity">{{this.dept_abbr}} {{this.course_num}}</span>
    <h4 style="margin-bottom:0px">{{this.course_name}}</h4><br>
    <hr style="margin-top:10px">
    <button onclick="gotoUrl('/course/{{this.id}}')" type="button" class="w3-button w3-theme-d4 w3-margin-bottom w3-left"> &nbsp;View</button> 
    <button type="button" class="w3-button w3-theme-d4 w3-margin-bottom w3-right"> &nbsp;Follow</button> 
</div>