      <!-- Interests -->
      <div class="w3-card-2 w3-round w3-white w3-hide-small">
        <div class="w3-container">
          <p>Interests</p>
          <p>
            {{#each user.interests}}
              <span class="w3-tag w3-small w3-theme">{{this}}</span>
            {{else}}
              Not listed
            {{/each }}
          </p>
        </div>
      </div>
      <br>
