<div class="w3-container w3-card-2 w3-white w3-round w3-margin"><br>
  <span class="w3-right w3-opacity">Course</span>
  <h4 style="margin-bottom:0px">{{this.dept_abbr}} {{this.course_num}}</h4><br>
  <h5 align="center">{{this.course_name}}</h5>
  <hr style="margin-top:10px">
  <button onclick="gotoUrl('/course/{{this.id}}')" type="button" class="w3-button w3-theme w3-margin-bottom w3-left"> &nbsp;View</a> 
  <button type="button" onclick="" class="w3-button w3-theme w3-margin-bottom w3-right"> &nbsp;Follow</button> 
</div>