<div class="w3-container w3-theme-d2 w3-card-2 w3-white w3-round w3-margin"><br>
    <img src="/images/ECU_class.jpg" class="w3-left w3-circle w3-margin-right" style="width:60px;margin-bottom:10px">
    <span class="w3-right w3-opacity">Department</span>
    <h4 style="margin-bottom:0px">{{this.dept_name}}</h4><br>
    <hr class="w3-theme-d4" style="margin-top:10px">
    <button onclick="gotoUrl('/department/{{this.id}}')" type="button" class="w3-button w3-theme w3-margin-bottom w3-left"> &nbsp; View</a> 
    <button type="button" class="w3-button w3-theme w3-margin-bottom w3-right"> &nbsp; Follow</button> 
</div>